## Inside Account C

This account demonstrates how to access feature groups created by Accounts A & B from within Account C. <br>
<b>Note:</b> Run this notebook, if you had allowed this access by granting ACLs to Account C when creating feature groups in Account A and B. Notebooks x (in Account A) and y (in Account B) grant ACLs to Account C, ensure they are run.

#### Imports

In [1]:
import awswrangler as wr
import boto3

#### Essentials

In [2]:
region = boto3.Session().region_name
s3_client = boto3.client('s3', region_name=region)

In [3]:
bucket = 'sagemaker-feature-store-account-a'
offline_feature_store_s3_uri = f's3://{bucket}/'
offline_feature_store_s3_uri

's3://sagemaker-feature-store-account-a/'

#### Validate if we can access feature groups created by Account A from here

In [4]:
account_id = '892313895307' # account ID of account A
feature_group_name = 'employees'
feature_group_s3_prefix = f'{account_id}/sagemaker/{region}/offline-store/{feature_group_name}/data'
feature_group_s3_prefix

'892313895307/sagemaker/us-east-1/offline-store/employees/data'

In [5]:
offline_store_contents = None
objects = s3_client.list_objects(Bucket=bucket, Prefix=feature_group_s3_prefix)
if 'Contents' in objects and len(objects['Contents']) > 1:
    offline_store_contents = objects['Contents']
offline_store_contents

[{'Key': '892313895307/sagemaker/us-east-1/offline-store/employees/data/year=2020/month=12/day=27/hour=02/20201227T025737Z_WM6b4B9KNQzxrjGo.parquet',
  'LastModified': datetime.datetime(2020, 12, 27, 3, 7, 35, tzinfo=tzlocal()),
  'ETag': '"f80e68eef75a8ae811d44d9a6ff545d8"',
  'Size': 2081,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': 'arunprsh_test1',
   'ID': 'a52ce3999cdab5111cb19ca94abf5de5a69d62f34baa7d4422c630549fad3bd0'}},
 {'Key': '892313895307/sagemaker/us-east-1/offline-store/employees/data/year=2020/month=12/day=27/hour=02/20201227T025737Z_lV6rFzUwp7njtUyA.parquet',
  'LastModified': datetime.datetime(2020, 12, 27, 3, 7, 38, tzinfo=tzlocal()),
  'ETag': '"5502fa2a6b39b5d994abad0b9fa23556"',
  'Size': 2143,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': 'arunprsh_test1',
   'ID': 'a52ce3999cdab5111cb19ca94abf5de5a69d62f34baa7d4422c630549fad3bd0'}}]

In [6]:
s3_prefix = '/'.join(offline_store_contents[0]['Key'].split('/')[:-5])
s3_uri = f's3://{bucket}/{s3_prefix}'
s3_uri

's3://sagemaker-feature-store-account-a/892313895307/sagemaker/us-east-1/offline-store/employees/data'

In [7]:
df = wr.s3.read_parquet(path=s3_uri)
df

,employee_id,name,age,sex,happiness_score,created_by,event_time,write_time,api_invocation_time,is_deleted
0,100,aaron,33,M,4.2,account-a,1.609038e+09,2020-12-27 03:03:32.808000+00:00,2020-12-27 02:58:19+00:00,False
1,101,brett,34,F,3.7,account-a,1.609038e+09,2020-12-27 03:03:32.808000+00:00,2020-12-27 02:58:19+00:00,False
0,104,emily,44,F,1.5,account-a,1.609038e+09,2020-12-27 03:03:32.863000+00:00,2020-12-27 02:58:19+00:00,False
1,102,cathy,44,F,4.8,account-a,1.609038e+09,2020-12-27 03:03:32.863000+00:00,2020-12-27 02:58:19+00:00,False
2,103,danny,44,M,2.1,account-a,1.609038e+09,2020-12-27 03:03:32.863000+00:00,2020-12-27 02:58:19+00:00,False

#### Validate if we can access feature groups created by Account B from here

In [8]:
account_id = '149456328460' # account ID of account B
feature_group_name = 'employees'
feature_group_s3_prefix = f'{account_id}/sagemaker/{region}/offline-store/{feature_group_name}/data'
feature_group_s3_prefix

'149456328460/sagemaker/us-east-1/offline-store/employees/data'

In [9]:
offline_store_contents = None
objects = s3_client.list_objects(Bucket=bucket, Prefix=feature_group_s3_prefix)
if 'Contents' in objects and len(objects['Contents']) > 1:
    offline_store_contents = objects['Contents']
offline_store_contents

In [ ]:
s3_prefix = '/'.join(offline_store_contents[0]['Key'].split('/')[:-5])
s3_uri = f's3://{bucket}/{s3_prefix}'
s3_uri

In [ ]:
df = wr.s3.read_parquet(path=s3_uri)
df