## Inside Account A

This account demonstrates how to access feature groups owned by Account B & C from within Account A. <br>
<b>Note:</b> Run this notebook, if you had allowed this access by granting ACLs to Account A when creating feature groups in Account B and C. Notebooks x and y grant ACLs, ensure they are run.

#### Imports

In [1]:
import awswrangler as wr
import boto3

#### Essentials

In [2]:
region = boto3.Session().region_name
s3_client = boto3.client('s3', region_name=region)

In [3]:
bucket = 'sagemaker-feature-store-account-a'
offline_feature_store_s3_uri = f's3://{bucket}/'
offline_feature_store_s3_uri

's3://sagemaker-feature-store-account-a/'

#### Validate if we can access feature groups created by Account B from here (Account A)

In [4]:
account_id = '149456328460' # account ID of account B
feature_group_name = 'employees'
feature_group_s3_prefix = f'{account_id}/sagemaker/{region}/offline-store/{feature_group_name}/data'
feature_group_s3_prefix

'105242341581/sagemaker/us-east-1/offline-store/employees/data'

In [5]:
offline_store_contents = None
objects = s3_client.list_objects(Bucket=bucket, Prefix=feature_group_s3_prefix)
if 'Contents' in objects and len(objects['Contents']) > 1:
    offline_store_contents = objects['Contents']
offline_store_contents

[{'Key': '105242341581/sagemaker/us-east-1/offline-store/employees/data/year=2020/month=12/day=26/hour=05/20201226T052702Z_dQfG217E6W3YzrQG.parquet',
  'LastModified': datetime.datetime(2020, 12, 26, 5, 34, 4, tzinfo=tzlocal()),
  'ETag': '"45952a5f07959138c79dcc911f694926"',
  'Size': 2145,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': 'yavapai_testbed',
   'ID': '768394a884ee2c604687e993ff8f4f5e6320bac8de2bba100ae7686a611b9260'}},
 {'Key': '105242341581/sagemaker/us-east-1/offline-store/employees/data/year=2020/month=12/day=26/hour=05/20201226T052702Z_eBeXvcYNpyKLQ8VO.parquet',
  'LastModified': datetime.datetime(2020, 12, 26, 5, 34, 6, tzinfo=tzlocal()),
  'ETag': '"841bf63b46363b154cca7562d8aa3b3c"',
  'Size': 2075,
  'StorageClass': 'STANDARD',
  'Owner': {'DisplayName': 'yavapai_testbed',
   'ID': '768394a884ee2c604687e993ff8f4f5e6320bac8de2bba100ae7686a611b9260'}}]

In [6]:
s3_prefix = '/'.join(offline_store_contents[0]['Key'].split('/')[:-5])
s3_uri = f's3://{bucket}/{s3_prefix}'
s3_uri

's3://sagemaker-feature-store-account-a/105242341581/sagemaker/us-east-1/offline-store/employees/data'

In [7]:
df = wr.s3.read_parquet(path=s3_uri)
df

,employee_id,name,age,sex,happiness_score,created_by,event_time,write_time,api_invocation_time,is_deleted
0,102,cara,43,F,4.3,account-c,1.608960e+09,2020-12-26 05:33:32.659000+00:00,2020-12-26 05:27:52+00:00,False
1,104,elan,61,F,4.3,account-c,1.608960e+09,2020-12-26 05:33:32.659000+00:00,2020-12-26 05:27:52+00:00,False
2,103,dave,54,M,3.5,account-c,1.608960e+09,2020-12-26 05:33:32.659000+00:00,2020-12-26 05:27:52+00:00,False
0,100,alex,23,M,1.4,account-c,1.608960e+09,2020-12-26 05:33:32.703000+00:00,2020-12-26 05:27:52+00:00,False
1,101,bria,29,F,4.5,account-c,1.608960e+09,2020-12-26 05:33:32.703000+00:00,2020-12-26 05:27:52+00:00,False

#### Validate if we can access feature groups created by Account C from here (Account A)

In [ ]:
account_id = '105242341581' # account ID of account C
feature_group_name = 'employees'
feature_group_s3_prefix = f'{account_id}/sagemaker/{region}/offline-store/{feature_group_name}/data'
feature_group_s3_prefix

In [ ]:
offline_store_contents = None
objects = s3_client.list_objects(Bucket=bucket, Prefix=feature_group_s3_prefix)
if 'Contents' in objects and len(objects['Contents']) > 1:
    offline_store_contents = objects['Contents']
offline_store_contents

In [ ]:
s3_prefix = '/'.join(offline_store_contents[0]['Key'].split('/')[:-5])
s3_uri = f's3://{bucket}/{s3_prefix}'
s3_uri

In [ ]:
df = wr.s3.read_parquet(path=s3_uri)
df